{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>Hello, I am <strong>{{ .Site.Params.author }}</strong>, a Data Scientist.</h3>
        <h3>I love all things data science and research.</h3>
        <h3>Have a look at some thoughts concerning data science on my <a href="{{ .Site.BaseURL }}blog/"> blog</a>.</h3>
        <h3>To know more about me, you can check out my academic &amp; professional <a href="https://drive.google.com/file/d/1NTe1bsXPOooIVRWie5HRUq4lPVjUtYTU/view?usp=sharing" target="_blank">resume</a>.</h3>
        <h3>Contact me on <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> or <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">twitter</a>,</h3>
        <h3>if you need consultancy services on data science or any statistical processes.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
